.registerContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerCard {
  width: 380px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.registerCard h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.registerCard p {
  font-size: 14px;
  opacity: 0.8;
}

.registerCard input {
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.registerCard input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.registerCard button {
  padding: 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: white;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.registerCard button:hover{
  opacity: 0.9;
}

.registerCard button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.link {
  font-size: 14px;
  opacity: 0.9;
}

.link a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.link a:hover{
  text-decoration: underline;
}
.error {
  color: #ffb4b4;
  font-size: 14px;
}
